.icon {
    font-size: 200px;
    color: #4FA916;
}

.donePage {
    text-align: center;
    padding-bottom: 20px;
}

@media (max-width: 800px) {
    .icon {
        font-size: 100px;
    }

    .donePage {
        font-size: small;
    }
    
}